*{
  padding:0;
    margin:0;
box-sizing: border-box;

border:1px solid red
   /* &::selection{
        background: orange;
    }*/
}
/*
@font-face{
    font-family:"font-1" ;
    src: url(../assets/font/Lato-Medium.ttf);
}

$font-1:"font-1",sans-serif;*/

$color-primary: #FD2D01;
$color-secondary: #FFD7D7;
$color-tertiary :#4E5166;

h1{
  // color:$color-secondary;
}

div{
  //  background-color: $color-primary;
}

ul{
    display: flex;
    margin-left: 1rem;
li{
    margin-left: 2rem;
};
}