.left-nav-container {
    position: relative;
    margin-top:3rem;
    .icons {
      position: fixed;
      z-index: 10;
      margin: 2px 0 0 -9px;
  
      @media(min-width: $tablette) {
        margin: 0;
      }
  
      .icons-bis {
        position: absolute;
        left: 10px;
  
        a {
          transition: 0.1s;
          display: inline-block;
  
          &:before {
            transition: .15s ease;
            transform: scale(0);
            transform-origin: center;
            z-index: -10;
            content: "";
            height: 34px;
            width: 34px;
            position: absolute;
            background: $color-1;
            border-radius: 50px;
          }
  
          &:hover {
            transform: scale(1.02);
          }
          &:hover::before {
            transform: scale(1);
            @media (min-width: $tablette) {
              height: 45px;
              width: 45px;
            }
          }
  
          img {
            height: 34px;
            width: 34px;
            @media (min-width: $tablette) {
              height: auto;
              width: auto;
            }
          }
        }
      }
    }
  }